body {
  background-color: #000000;
  margin-top: 0px;
  font-family: sans-serif;
}

.custom-navbar {
  background-color: rgba(0, 0, 0, 0.85);
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-item-last {
  margin-bottom: 10px;
  margin-right: 200px !important;
}

.logo-img {
  position: fixed;
  z-index: 1001;
  top: -12px;
  left: 200px;
  max-height: 100px;
}

.navbar-toggler {
  margin-right: 10px;
}

.nav-link{
  color:#00CC3A !important;
  font-size: 20px;
  font-weight: bold;
}

.nav-link:hover {
  color: #296112 !important; 
}

@media (min-width: 992px) {
  .close-menu {
    display: none;
  }

  a {
    background-image: linear-gradient(
      to right,
      #E1224E,
      #E1224E 50%,
      #00CC3A 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  a:before{
    content: '';
    background: #E1224E;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  a:hover {
   background-position: 0;
  }
  
  a:hover::before{
    width: 100%;
  }
}

@media (max-width: 991px) {
  
  a {
    background-image: linear-gradient(
      to right,
      #000456,
      #000456 50%,
      #E1224E 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  a:before{
    content: '';
    background: #000456;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  a:hover {
   background-position: 0;
  }
  
  a:hover::before{
    width: 100%;
  }
  
  .nav-link{
    color:#E1224E !important;
    font-size: 25px;
  }
  .close-menu {
    position: absolute;
    top: -30px;
    right: 20px;
    font-size: 60px;
    color: #E1224E;
    cursor: pointer;
  }

  .navbar-nav {
    flex-direction: column;
    text-align: center;
  }

  .navbar-nav .nav-item {
    margin-bottom: 10px;
  }

  .logo-img {
    position: fixed;
    margin-top: -12px;
    max-height: 100px;
    z-index: 1001;
    top: 0px;
    left: 20px;
  }

  .navbar-collapse {
    background-color: #00CC3A;
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px; 
    height: 100%;
    z-index: 1000;
    overflow-x: hidden;
    transition: transform 0.2s ease; 
    padding-top: 60px;
  }
  
  .navbar-collapse.show {
    transform: translateX(250px); 
  }
  
  .navbar-nav {
    margin-top: 15px;
  }
  
  .navbar-nav .nav-item {
    padding: 15px;
  }
  
  .navbar-toggler {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .nav-item-last {
    margin-bottom: 10px;
    margin-right: 0px !important;
  }
  .color-changed{
    background-color:grey!important;
    }
}


@media (max-width: 1200px) {
  .carousel-img {
    object-fit: cover;
    max-width: 100%;
    height: auto !important;
    width: 100%;
  }
}
.container-carrusel {
  margin-left: 100px;
  margin-right: 100px;
}

@media (max-width: 1200px) {
  .container-carrusel {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 992px) {
  .container-carrusel {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .container-carrusel {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 576px) {
  .container-carrusel {
    margin-left: 5px;
    margin-right: 5px;
  }
}


.carousel-img {
  object-fit: cover;
  max-width: 100%;
  height: 900px;
  width: 100%;
}

a:active {
  transform: translateY(2px);
  transition: transform 0.1s ease-in-out;
}


@keyframes infiniteScroll {
  0% {
      transform: translate(0)
  }

  to {
      transform: translate(-50%)
  }
}

.horizontal-scrolling {
  background-color: rgba(0, 0, 0, 0.85) !important;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  animation-name: infiniteScroll;
  animation-duration: 80s;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}

.horizontal-scrolling-items{
  white-space: nowrap;
  color: #00CC3A;
  font-weight: 600;
  line-height:24px;
  text-size-adjust:100%;
  white-space-collapse: collapse;
  font-feature-settings:normal;
}