body {
  background-color: #000000;
  margin-top: 0px;
  font-family: sans-serif;
}

.custom-navbar {  
  backdrop-filter: blur(15px);
  /*transition: background-color 0.4s ease;*/
  background-color: rgba(0, 0, 0, 0.85);
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-item-last {
  margin-bottom: 10px;
  margin-right: 200px !important;
}

.logo-img {
  position: fixed;
  z-index: 1001;
  top: -12px;
  left: 200px;
  max-height: 100px;
}

.navbar-toggler {
  position: absolute;
  margin-top: 5px;
  right: 10px;
  outline: none;
  font-size: 15px !important;
  height: 50px;
  width: 75px;
  background-color: #00CC3A;
  border: 2px solid transparent; /* Agrega un borde transparente inicialmente */
  color: #000 !important; /* Cambia el color del texto a negro */
  font-weight: bold;
  transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease; /* Agrega una transición suave */
}

.navbar-toggler:hover {
  background-color: #009933; /* Un color más oscuro en el hover */
  border: 1px solid #E1224E; /* Agrega un borde rojo en el hover */
}




.nav-link{
  color:#00CC3A !important;
  font-size: 20px;
  font-weight: bold;
}

.nav-link:hover {
  color: #296112 !important; 
}

@media (min-width: 992px) {
  .close-menu {
    display: none;
  }

  .a_animado {
    background-image: linear-gradient(
      to right,
      #E1224E,
      #E1224E 50%,
      #00CC3A 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  .a_animado:before{
    content: '';
    background: #E1224E;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .a_animado:hover {
   background-position: 0;
  }
  
  .a_animado:hover::before{
    width: 100%;
  }
}

@media (max-width: 991px) {
  
  .a_animado {
    background-image: linear-gradient(
      to right,
      #000456,
      #000456 50%,
      #E1224E 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  .a_animado:before{
    content: '';
    background: #000456;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .a_animado:hover {
   background-position: 0;
  }
  
  .a_animado:hover::before{
    width: 100%;
  }
  
  .nav-link{
    color:#E1224E !important;
    font-size: 25px;
  }
  .close-menu {
    position: absolute;
    top: -20px;
    right: 20px;
    font-size: 60px;
    color: #E1224E;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease; /* Agrega una transición suave */
  }
  
  .close-menu:hover {
    color: #E1224E !important; /* Cambia el color a blanco al hacer hover */
    transform: rotate(180deg); /* Agrega una rotación de 180 grados al hacer hover */
  }
  

  .navbar-nav {
    flex-direction: column;
    text-align: center;
  }

  .navbar-nav .nav-item {
    margin-bottom: 10px;
  }

  .logo-img {
    position: fixed;
    margin-top: -12px;
    max-height: 100px;
    z-index: 1001;
    top: 0px;
    left: 20px;
  }

  .navbar-collapse {
    background-color: #00CC3A;
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px; 
    height: 100%;
    z-index: 1;
    overflow-x: hidden;
    transition: transform 0.2s ease; 
    padding-top: 60px;
  }
  
  .navbar-collapse.show {
    transform: translateX(250px); 
  }
  
  .navbar-nav {
    margin-top: 15px;
  }
  
  .navbar-nav .nav-item {
    padding: 15px;
  }
  
  .navbar-toggler {
    position: absolute;
    top: 10px;
    right: 10px;
    outline: none;
  }

  .nav-item-last {
    margin-bottom: 10px;
    margin-right: 0px !important;
  }
  .color-changed{
    background-color:grey!important;
    }
}


@media (max-width: 1200px) {
  .carousel-img {
    object-fit: cover;
    max-width: 100%;
    height: auto !important;
    width: 100%;
  }
}
.container-carrusel {
  margin-left: 100px;
  margin-right: 100px;
}

@media (max-width: 1200px) {
  .container-carrusel {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 992px) {
  .container-carrusel {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .container-carrusel {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 576px) {
  .container-carrusel {
    margin-left: 5px;
    margin-right: 5px;
  }
}


.carousel-img {
  object-fit: cover;
  max-width: 100%;
  height: 700px !important;
  width: 100%;
}

.a_animado:active {
  transform: translateY(2px);
  transition: transform 0.1s ease-in-out;
}


@keyframes infiniteScroll {
  0% {
      transform: translate(0)
  }

  to {
      transform: translate(-50%)
  }
}

.horizontal-scrolling {
  background-color: rgba(0, 0, 0, 0.85) !important;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  animation-name: infiniteScroll;
  animation-duration: 80s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 997;
  top: 85px;
  position: fixed;
}

.horizontal-scrolling-items{
  white-space: nowrap;
  color: #00CC3A;
  font-weight: 600;
  line-height:24px;
  text-size-adjust:100%;
  white-space-collapse: collapse;
  font-feature-settings:normal;
}



.overlay-active .navbar-nav .nav-link {
  color: #000 !important; /* Cambia el color del texto del menú */
}

.overlay-active .close-menu {
  color: #000; /* Cambia el color de la 'x' para cerrar el menú */
}

.overlay-active .navbar-toggler-icon {
  background-color: #000; /* Cambia el color del ícono del botón de menú */
}

.overlay-active .custom-navbar {
  background-color: rgb(0, 0, 0);
  backdrop-filter: none;
}

.overlay-active .navbar-toggler{
  background-color: rgba(28, 102, 44, 0.719);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(4, 37, 11, 0.719);
  display: none;
  pointer-events: none;
  z-index: 998; /* Ajusta el z-index según sea necesario para asegurarte de que esté encima de otros elementos */
}
.espacio{
  height: 20px;
}

#logo_principal img {
  transition: transform 0.2s ease; /* Agrega una transición de transformación */
}

#logo_principal img.clicked {
  transform: translateY(5px); /* Cambia la propiedad de transformación al hacer clic */
}

#logo_principal img:hover {
  animation: shake 0.5s ease; /* Agrega una animación de sacudida al pasar el mouse */
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}




.carousel-img {
  position: relative !important;
}

.carousel-item::after {
  content: "" !important;
  position: absolute !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 30% !important;
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0)) !important;
}

.carousel-item {
  position: relative !important;
}

.overlay-div {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto; /* Ajusta la altura según sea necesario */
  box-sizing: border-box;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}



.overlay-frame {
  margin-bottom: -200px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 600px !important;
  border: none; /* Para quitar el borde predeterminado del iframe */
  z-index: 2;
}



.img-eventos{
  height: 600px;
  width: 700px;
}



.eventos{
  margin-top: 30px;
}

.texto_eventos{
  color: #00CC3A;
  text-transform: uppercase;
}

.texto_copy{
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
}
.espacio2{
  height: 10px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-image-social-media {
  margin: 0 10px; /* Ajusta el margen entre las imágenes según sea necesario */
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.icon-image-social-media:hover {
  background-color: #ffffff;
  border-radius: 50%;
}